@model IEnumerable<ResultDTO>


@{
    ViewData["Title"] = "Faclities";

    var isAdmin = ViewBag.IsAdmin;

}
<div class="row">
    <div class="col-md-8">
        <div class="card shadow border-0 mt-4">
            <div class="card-header bg-secondary bg-gradient ml-0 py-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="text-white">Availiable Facilities</h1>
                    </div>
                </div>
            </div>
            <div class="card-body p-4">

                <div class="row pb-3">
                    @if (Model.Any())
                    {
                        @foreach (var m in Model)
                        {
                            <div class="col-4 text-center mb-5">
                                <div class="card" style="width: 18rem;">
                                    <img src="https://c8.alamy.com/comp/2CPEWNB/medical-institution-hospital-building-city-ambulance-medical-care-2CPEWNB.jpg" class="card-img-top" alt="Card Image">
                                    <div class="card-body">
                                        <h5 class="card-title text-warning fw-bold">@m.Name</h5>
                                        <p class="card-text">@m.Location</p>
                                        <a href="@Url.Action("ViewMap", "Locator", new { Id = m.LocatorId})" class="btn btn-primary">View on Map</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-md-4"></div>
                        <div class="col-4 text-center">
                            <div class="card" style="width: 18rem;">
                                <img src="https://c8.alamy.com/comp/2CPEWNB/medical-institution-hospital-building-city-ambulance-medical-care-2CPEWNB.jpg" class="card-img-top" alt="Card Image">
                                <div class="card-body">
                                    <h5 class="card-title">Empty</h5>
                                    <p class="card-text">No Healthcare Facility Found</p>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a href="/Locator/FacilityCreate" class="btn btn-danger">Add Health Care</a>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    }

                </div>


            </div>

        </div>

    </div>
    <div class="col-md-4">
        <div class="card shadow border-0 mt-4">
            <div class="card-header bg-secondary bg-gradient ml-0 py-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="text-white">Filter Facilities</h1>
                    </div>
                </div>
            </div>
            <div class="card-body p-4">
                <div class="row">
                    <h3 class="text-info text-center">Filter By Name, State or LGA</h3>
                    <form action="@Url.Action("Search", "Locator")" method="POST" class="form p-5">
                        <div class="col-md-12 form-group">
                            <label name="Name">Name</label>
                            <input name="Name" id="Name" class="form-control">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="State">State</label>
                            <input name="State" id="State" class="form-control">
                        </div>
                        <div class="col-md-12 form-group">
                            <label name="LGA">LGA</label>
                            <input name="LGA" id="LGA" class="form-control">
                        </div>

                        <div class="col-md-12 form-group mt-2">
                            <button class="btn btn-lg btn-info btn-block" type="submit">Search</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>

    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {

        });
    </script>
}