@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome to HealthCare Facility Locator</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container text-center">
    <div class="container">
        <img src="https://cdn.educba.com/academy/wp-content/uploads/2017/02/Healthcare-Facilities.jpg" class="img-fluid" />
    </div>
    <div class="btn-group p-5">
        <a href="/Locator/FacilityIndex" class="btn btn-block btn-info pl-5">View Health Care Facilities</a>
        @if (User.Identity.IsAuthenticated)
        {
            <a href="/Locator/FacilityCreate" class="btn btn-block btn-lg btn-danger pr-5">Add Facilities (Admin)</a>
        }

    </div>
</div>