
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Access Denied</h1>

<div class="alert alert-danger text-center">
    <h4>Access Denied</h4>
    <p>You do not have permission to access this page.</p>
    <a href="@Url.Action("FacilityIndex", "Locator")" class="btn btn-primary">Return to List of Facilities</a>
</div>