@model RegistrationRequestDTO

<form method="post">
    <div class="container border p-4">
        <div class="row text-center">
            <h3>Register</h3>
        </div>
        <div class="row" asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-6 offset-3 pb-2">
                <input asp-for="Name" class="form-control" placeholder="Fullname" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="col-6 offset-3 pb-2">
                <input asp-for="Email" class="form-control" placeholder="Email address" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="col-6 offset-3 pb-2">
                <input asp-for="PhoneNumber" class="form-control" placeholder="PhoneNumber" />
                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
            </div>

            <div class="col-6 offset-3 pb-2">
                <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="col-6 offset-3 pb-2">
                <select asp-for="Role" class="form-select" asp-items="@ViewBag.RoleList">
                    <option value="">--Select Role--</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3 pb-2">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
            <div class="col-6 offset-3 pb-2">
                Already have an account? <a asp-controller="Authentication" asp-action="Login">Login</a>
            </div>
        </div>

    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
